.app-bar{
	position: absolute;
}
.logout-btn{
  	position: absolute;
    width: 72px;
    height: 30px;
    top: 0px;
    color:white;

}
.bm-burger-bars {
  background: #ffffff;
}
.menu-icon{
	top: -7px;
  height: 24px;
  width: 24px;
  transform-origin: 50% 50% 0px;
}


.bm-cross-button {
  height: 24px;
  width: 24px;
	top: 55px;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.menu-item {
  color: #999;
  border: none;
  padding: 0.6em 0 0.6em 0.6em;
}

.menu-new ul{
    border-top: 1px solid #333;
}
.menu-new a:hover,
.menu-new a:focus {
  color: #000;
  }

.menu-new a {
    color: #fff;
}
#parent {
  display: -webkit-flex;
  
    padding-top: 125px;
    height: 705px;
    margin: 5px;
}
.child1 {
    width: 33%;
    height: 99%;
}

.child2 {
    width: 33%;
    height: 99%;
}

.child3 {
    width: 33%;
    height: 99%;
}
.child4 {
    width: 33%;
    height: 99%;
}
