.app-bar{
  background-image: url('../../images/susi-white.svg');
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: center;
	position: absolute;
}
.logout-btn{
  	position: absolute;
    width: 72px;
    height: 30px;
    top: 0px;
    color:white;

}
