# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.idea
.env
npm-debug.log*
package-log.json*
package-lock.json*
yarn-debug.log*
yarn-error.log*
jest
.idea
..env.swp
