.signUpForm{
	padding: 10px;
	width: 400px;
	margin: 0 auto;
}

@media screen and (max-width: 768px) {
	.signUpForm h1{
		font-size: 16px;
	}
	.signUpForm {
		width: 320px;
		margin: 0 auto;
	}
}

.app-bar{
  background-image: url('../../images/susi-white.svg');
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: center;
	position: absolute;
}
.app-bar-div{
	position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 46px;
  width: 100vw;
  background: #607d8b;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  user-select: none;
  -webkit-user-select: none;
}

.menu-icon{
	top: -7px;
  height: 24px;
  width: 24px;
  transform-origin: 50% 50% 0px;
}


.bm-burger-button {
	position: absolute;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 8px;
	z-index: 1;
}
.bm-burger-button{
	background: #607D8B;
}

.bm-burger-bars {
  background: #ffffff;
}


.bm-cross-button {
  height: 24px;
  width: 24px;
	top: 55px;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.menu-item {
  color: #999;
  border: none;
  padding: 0.6em 0 0.6em 0.6em;
}

.menu-new ul{
    border-top: 1px solid #333;
}
.menu-new a:hover,
.menu-new a:focus {
  color: #000;
  }

.menu-new a {
    color: #fff;
}
