.forgotPwdForm {
	width: 270px;
	margin: 0 auto;
}

.forgotPwdContainer {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

@media screen and (max-width: 768px) {
	.forgotPwdForm h1{
		font-size: 16px;
	}
	.forgotPwdForm {
		width: 320px;
		margin: 0 auto;
	}
}
.app-bar-div{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 46px;
  width: 100vw;
  user-select: none;
  -webkit-user-select: none;
}

@media screen and (max-width: 490px) {
	.forgotPwdForm {
		padding: 65px 15px;
	}
}
