.forgotPwdForm{
	padding: 65px;
	width: 400px;
	margin: 0 auto;
}
@media screen and (max-width: 768px) {
	.forgotPwdForm h1{
		font-size: 16px;
	}
	.forgotPwdForm {
		width: 320px;
		margin: 0 auto;
	}
}
.app-bar-div{
	position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 46px;
  width: 100vw;
  user-select: none;
  -webkit-user-select: none;
}
