.forgotPwdForm {
  width: 270px;
  margin: 0 auto;
}

.forgotPwdContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.modalDiv > div > div > div {
  width: 50%;
  margin: 0px auto;
}

@media screen and (max-width : 783px) {
  .modalDiv > div > div > div {
    width: 80%;
    margin: 0px auto;
  }
}

@media screen and (max-width: 768px) {
  .forgotPwdForm h1{
    font-size: 16px;
  }
  .forgotPwdForm {
    width: unset;
    margin: 0 auto;
  }
}
.app-bar-div{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 46px;
  width: 100vw;
  user-select: none;
  -webkit-user-select: none;
}

@media screen and (max-width: 490px) {
  .forgotPwdForm {
    padding: 2em 1px;
  }
}
@media screen and (max-width: 460px) {
  .modalDiv > div > div > div {
    width: 100%;
    margin: 0px auto;
  }
}
@media screen and (max-width: 362px) {
  .forgotPwdForm {
    padding: 2em 0;
  }
  .modalDiv>div>div {
    width: 95% !important; /* csslint allow: known-properties, important */
  }
}
