.resetPasswordForm{
	padding: 10px;
	width: 400px;
	margin: 0 auto;
}
.app-bar{
  margin: 0 auto;
}
.app-bar-div{
	position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 46px;
  width: 100vw;
  user-select: none;
  -webkit-user-select: none;
}
