.SettingsTab{
    padding: 0px;
    width: auto;
    margin: 0 auto;
}
.heading{
    height: 150px;
}
.tabs{
    margin-top: -10px;
    padding-left: 25px;
    padding-right: 30px;
}
.containerDiv{
    background-color: #ffffff;
}

.container{
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #ffffff;
}

.h2{
    padding-top: 65px;
    margin-left: 21px;
    font-size: 35px;
}

.containerPaper{
    margin-top: -68px;
    margin-left: 60px;
    margin-right: 40px;
}

.flexCard{
    width: 400px;
    height: 310px;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
    line-height: 2;
}

@media screen and (max-width: 520px) {
  .flexCard {
    width: 310px;
  }
}
