.forgotpwdlink{
	text-decoration: none;
	color: #999999;
	margin-bottom: 20px;
}
.loginForm{
	padding: 10px;
	width: 400px;
	margin: 0 auto;

}

.app-bar{
  background-image: url('../../images/susi-white.svg');
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: center;
	position: absolute;
}
.app-bar-div{
	z-index: 0;
	position: relative;
}


.bm-burger-button {
	position: absolute;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 8px;
	z-index: 1;
}
.bm-burger-button{
	background: #607D8B;
}

.sty{
	width: 256px;
}
@media screen and (max-width: 768px) {
	.loginForm h1{
		font-size: 16px;
	}
}


.bm-burger-bars {
  background: #ffffff;
}


.bm-cross-button {
  height: 24px;
  width: 24px;
	top: 55px;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.menu-item {
  color: #999;
  border: none;
  padding: 0.6em 0 0.6em 0.6em;
}

.menu-new ul{
    border-top: 1px solid #333;
}
.menu-new a:hover,
.menu-new a:focus {
  color: #000;
  }

.menu-new a {
    color: #fff;
}
