.forgotpwdlink {
  text-decoration: none;
  color: #999999;
  margin-bottom: 30px;
}
.signup {
  margin-left:25%;
  margin-right:25%;
}
.loginForm {
  width: 90%;
  margin: 5%;
}
#loginform {
  margin-left:20%;
}
#forgotpwd {
  margin-left:250px;
}
.app-bar {
  position: absolute;
}
.app-bar-div {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 46px;
  width: 100vw;
  background: #607d8b;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  user-select: none;
  -webkit-user-select: none;
}
.login-container {
  margin-top:5%;
  height: 80%;
  width : 50%;
  float : right;
}
.app-body-div {
  height: 80%;
  width : 50%;
  float : left;
  background-color : #F6F6F6;
}
.About {
  margin: 30vh 8% 0% 8%;
  text-size : 18px;
  height:59vh;
}
.menu-icon {
  top: -7px;
  height: 24px;
  width: 24px;
  transform-origin: 50% 50% 0px;
}


.bm-burger-button {
  position: absolute;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 8px;
  z-index: 1;
}
.bm-burger-button {
  background: #607D8B;
}

.sty {
  width: 256px;
}

.bm-burger-bars {
  background: #ffffff;
}


.bm-cross-button {
  height: 24px;
  width: 24px;
	top: 55px;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.menu-item {
  color: #999;
  border: none;
  padding: 0.6em 0 0.6em 0.6em;
}

.menu-new ul {
    border-top: 1px solid #333;
}
.menu-new a:hover,
.menu-new a:focus {
  color: #000;
  }

.menu-new a {
    color: #fff;
}
#message {
	padding:10px;
	color:red;
}
.fieldStyle {
  width: 200px;
}
@media screen and (max-width: 1587px) {
  #forgotpwd {
    margin-left:150px;
  }
}

@media screen and (max-width: 1314px) {
  #forgotpwd {
    float:left;
    margin-left:15px;
  }
}
@media screen and (max-width: 937px) {
  .loginbtn {
    float:left;
  }
}
@media screen and (max-width: 660px) {
  .login-container {
    float : none;
    height: auto;
    width : auto;
  }
  .app-body-div {
    height:auto;
    width : auto;
    margin:0;
    float : none;;
    background-color : #EEE;
  }
  .About {
    margin:50px 0 5px 0;
 }
  #forgotpwd {
    margin: 10px 25% 10px 15px;
  }
  .loginbtn {	
    width:210px;
    margin-right:110px;
  }	

  #loginform {
    margin-right:25%;
    margin-left:25%;
  }
  .passfieldStyle {	
    width:100%;
  }
}
@media screen and (max-width: 435px) {
  #loginform {
    margin-right:15%;
    margin-left:15%;
  }
}
