.forgotpwdlink {
  text-decoration: none;
  color: #999999;
  margin-bottom: 30px;
}

.signup {
  margin-left: 12%;
  margin-right: 15%;
  margin-top: 10%;
}

.loginForm {
  width: 90%;
  margin: 5%;
}
#loginform {
  margin-left:20%;
}
#forgotpwd {
  margin-left:230px;
}

.susi-logo{
  margin: 5px -5px;
  width: 70px;
}

.signup-header-text{
  padding-top: 10px;
  font-weight: 350;
  max-width: 75%;
}

.description-text{
  font-size: 24px;
  padding: 3% 0;
}

.app-bar {
  position: absolute;
}

.app-bar-div {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 46px;
  width: 100vw;
  user-select: none;
  -webkit-user-select: none;
}

.login-container {
  margin-top:5%;
  height: 80%;
  width : 50%;
  float : right;
}

.menu-icon {
  top: -7px;
  height: 24px;
  width: 24px;
  transform-origin: 50% 50% 0px;
}


.bm-burger-button {
  position: absolute;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 8px;
  z-index: 1;
  background: #607D8B;
}

.sty {
  width: 256px;
}

.bm-burger-bars {
  background: #ffffff;
}


.bm-cross-button {
  height: 24px;
  width: 24px;
  top: 55px;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.menu-item {
  color: #999;
  border: none;
  padding: 0.6em 0 0.6em 0.6em;
}

.menu-new ul {
  border-top: 1px solid #333;
}
.menu-new a:hover,
.menu-new a:focus {
  color: #000;
}

.menu-new a {
  color: #fff;
}
#message {
  padding:10px;
  color:red;
}
.fieldStyle {
  width: 200px;
}

.login-div > h2 {
  margin-left: 10px;
}

@media screen and (max-width: 1588px) {
  .loginForm{
    margin:10px;
  }

  #loginform {
    margin-left:10%;
  }
}

@media screen and (max-width: 1413px) {
  #loginform {
    margin-left:1%;
  }
}

@media screen and (max-width: 1286px) {
  .loginForm{
    width:98%;
  }

  #loginform {
    margin-left:0%;
  }
}

@media screen and (max-width: 1171px) {
  .loginForm{
    margin:0;
    width:100%;
  }
}

@media screen and (max-width: 1146px) {
  .login-div {
    margin:10% 15%;
  }

  #forgotpwd {
    margin:20px 10px;
  }

  .fieldStyle{
    width:85%;
  }

  .loginbtn {
    width:86%;
    margin-bottom:-5px;
  }
}

@media screen and (max-width: 937px) {
  .loginbtn {
    width:87%;
  }
}
@media screen and (max-width: 838px) {
  .login-container {
    float : none;
    height: auto;
    width : auto;
    margin-top:50px;
    margin-bottom: 50px;
  }

  .signup{
   width: 450px;
   margin:0 auto;
  }
  
  .loginForm {
    width: 450px;
    margin: 0 auto;
  }

  #loginform {
    width: 450px;
  }

  .login-div {
    width: 450px;
    margin: 0 auto;
  }

  .login-div > .fieldStyle, .login-div > .loginbtn {
    width: 95%;
    margin: 0 auto;
  }

  .passfieldStyle {
    width:100%;
  }

  .footer{
    margin-top:0;
  }
}

@media screen and (max-width: 475px) {
  .login-container {
    float : none;
    height: auto;
    width : 100%;
    margin-top:50px;
  }

  .signup{
    margin: 0% 10% 0 10%;
  }

  .fieldStyle {
    width: 103%;
  }
  #forgotpwd {
    margin: 10px 25% 10px 15px;
  }
  .loginbtn {
    width:104%;
  }

  .passfieldStyle {
    width:100%;
  }

  .footer{
    margin-top:0;
  }

  .loginForm {
    width: 100%;
    margin: 0 auto;
    padding-top:20px;
  }

  #loginform {
    width: 100%;
    margin: 0px;
  }

  .login-div {
    width: 100%;
    margin: 0px;
  }

  .signup {
    width: auto;
  }
}

@media screen and (max-width : 573px) {
  .ModalDiv > div > div > div {
    width: 90%;
    margin: 0px auto;
  }
}
