.delete-account {
  width: 400px;
}
@media only screen and (max-width: 450px) {
  .delete-account {
    width: 300px;
  }
  .delete-account h1 {
    font-size: 1.8em;
  }
  .delete-account h5 {
    font-size: 1.2em;
  }
}
