.navBar {
  background-color:#EEE;
  width:327px;
  height:500px;
  min-width:180px;
  float:left;
}
.navBar h2 {
  margin-left:10px;
}

.right-chevron{
  margin-top: 10px;
  position: absolute;
  right: 10px;
}

.setting-item{
  width:97%;
}

.Link a {
  color : #1DA1F5;
  text-decoration : none;
}

.settings-app {
  max-width: none;
  position: relative;
  padding: 50px 0px 50px 0px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: justify;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 85%;
  width: 935px;
  min-height:455px;
  height:71.5vh;
}

.settings-list{
  padding: 0px 0px;
  user-select: none;
  width: 100%;
  height:500px;
}


.settings-list-dropdown{
  padding: 0px 0px;
  user-select: none;
  width: 100%;
  display: none;
}

.settings-app {
  margin-top:20px;
  background-color: #fff;
}

.settings {
  padding:20px 20px 0px 30px;
  width:598.5px;
  min-height:500px;
  height: fit-content;
  float:right;
  background-color: #fff;
}

.footer-wrapper {
  z-index: 10;
  height:0px;
}

.label {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: bold;
}

.tabHeading{
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: bold;
}

.Divider{
  margin: 0;
  height: 1px;
  border: none;
  background-color: #f2f2f2;
}

.settings-toggle {
  max-width: 5%;
  float: left;
  background-color: #fff;
}

@media screen and (max-width: 1112px) {
  .settings {
    float:left;
    width:100%;
  }
  .navBar {
    float:left;
    margin-right:auto;
    margin-bottom:15px;
    width:100%;
    min-height:unset;
    height:65px;
  }

  .settings-list{
    display: none;
  }

  .settings-list-dropdown{
    display: block;
  }

  .settings {
    height:500px;
  }

  .settings-app {
    min-height:550px;
  }

}
@media screen and (max-width: 395px) {
  .settings-app {
    height:500px;
  }

  .settings {
    height:500px;
  }
}
