body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{
  margin:unset;
  padding:unset;
}
body{
  font-size: unset;
  line-height: unset;
  color: unset;
  background-color: unset;
}
* {
  box-sizing: unset;
}
.ant-pagination-options-quick-jumper input {
  height:unset;
  width:30px;
}

.navBar {
  background-color:#EEE;
  width:327px;
  height:500px;
  min-width:180px;
  float:left;
}
.navBar h2 {
  margin-left:10px;
}

.right-chevron{
  margin-top: 10px;
  position: absolute;
  right: 10px;
}

.setting-item{
  width:97%;
}

.Link a {
  color : #1DA1F5;
  text-decoration : none;
}

.settings-app {
  max-width: none;
  position: relative;
  padding: 50px 0px 50px 0px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: justify;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 85%;
  width: 935px;
  min-height:455px;
  height:71.5vh;
}

.settings-list{
  padding: 0px 0px;
  user-select: none;
  width: 100%;
  height:500px;
}


.settings-list-dropdown{
  padding: 0px 0px;
  user-select: none;
  width: 100%;
  display: none;
}

.settings-app {
  margin-top:20px;
  background-color: #fff;
}

.settings {
  padding:20px 20px 0px 30px;
  width:598.5px;
  min-height:500px;
  height: fit-content;
  float:right;
  background-color: #fff;
}
.settingsComponents{
    width: 75%;
    margin-top: 80px;
}
.image-div{
    margin-top:-40px;	
}
h4 {
    display: block;
    -webkit-margin-before: 1.33em;
    -webkit-margin-after: 1.33em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
    color: unset;
}

h5 {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
    color: unset;
}
.footer-wrapper {
  z-index: 10;
  height:0px;
}

.label {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 15px;
  font-weight: bold;
}

.tabHeading{
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: bold;
}

.Divider{
  margin: 0;
  height: 1px;
  border: none;
  background-color: #f2f2f2;
}

.settings-toggle {
  max-width: 5%;
  float: right;
  background-color: #fff;
}
.color-box{
    display: inline-block;
    width: 23px;
    height: 23px;
    border-radius: 3px;
    border: 1px solid #0000006e;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: -8px;
}

.colorPicker{
    margin-left: 50px;
    margin-top: -35px;
}
.colorPicker>div>div {
    width: 90px !important; /* csslint allow: known-properties, important */
}
@media screen and (max-width: 1112px) {
  .settings {
    float:left;
    width:100%;
  }
  .navBar {
    float:left;
    margin-right:auto;
    margin-bottom:15px;
    width:100%;
    min-height:unset;
    height:65px;
  }

  .settings-list{
    display: none;
  }

  .settings-list-dropdown{
    display: block;
  }

  .settings {
    height:500px;
  }

  .settings-app {
    min-height:550px;
  }

}
@media screen and (max-width: 454px) {
  .settings-app {
    height:auto;
  }

  .settings {
    height:auto;
  }
}

.upload-btn {
  border: 10px;
  box-sizing: border-box;
  display: inline-block;
  font-family: Roboto, sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-decoration: none;
  margin: 0px;
  padding: 0px 10px;
  outline: none;
  font-size: inherit;
  font-weight: inherit;
  position: relative;
  z-index: 1;
  height: 36px;
  line-height: 36px;
  width: 100%;
  border-radius: 2px;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  max-width: 200px;
  min-width: 88px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
}

.file-upload-btn{
  background-color: rgb(66, 133, 244);
  color: #fff;
  cursor: pointer;
}
.file-upload-btn:hover{
  background-color: rgb(90, 147, 241);
}

.file-upload-btn-disabled{
  color: rgba(0, 0, 0, 0.3);
  background-color: rgb(229, 229, 229);
  user-select: none;
  cursor: not-allowed;
}

input[type=file]{
  display: none;
}

.setting-avatar{
  width: 150px;
  border-radius: 6px;
  display: block;
  height: 150px;
}

.input-avatar{
  width: 50px;
}

.avatar-empty-box{
  border: 1px solid #CED4DA;
  height: 148px;
  border-radius: 6px;
  width: 148px;
}

.avatar-add-button{
  width: 40px;
  display: block;
}

.avatar-empty-box:hover {
  background-color: #CED4DA;
  cursor: pointer;
}

.close-avatar{
  float: right;
  border-radius: 50%;
  border: 1px solid #CED4DA;
  position: relative;
  top: 5px;
  height: 25px;
  width: 25px;
  right: 30px;
  background-color: white;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .decreaseSettingDiv {
    width: 70%;
  }
}
